/* Style the tab */
.adminPage {
    position: relative;
}

.adminPage_serviceList {
    min-height: 400px;
}

#tab1 {
    display: block;
}

.adminPage .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.adminPage .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.adminPage .tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.adminPage .tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.adminPage .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.admin_serviceName {
    width: 300px;
    margin: auto;
    display: flex;
}

.admin_serviceName p {
    margin-bottom: 0;
    flex: 1;
}

.admin_serviceName i.fa-trash {
    line-height: 20px;
}

.admin_serviceName i.fa-trash:hover {
    color: tomato;
    cursor: pointer;
}

.admin_get_service_btn {
    border: none;
    background: rgb(42, 42, 42);
    width: 200px;
    margin: auto;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    border-radius: 10px;
}

.adminPage .tabcontent {
    height: 400px;
    overflow-y: auto;
}

.adminPage_pendingReqForService {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adminPage_pendingReqForService_card {
    display: flex;
    width: 49%;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.adminPage_pendingReqForService_card_img {
    width: 300px;
}

.adminPage_pendingReqForService_card_img img {
    width: 100%;
}

.adminPage_pendingReqForService_card_info {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.adminPage_pendingReqForService_card_tag {
    font-weight: 600;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    background-color: #eeeeee63;
    margin-right: 20px;
    padding: 5px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    user-select: none;
}

.adminPage_pendingReqForService_card_tag ~ i {
    color: gray;
    margin-right: 20px;
    user-select: none;
}

.adminPage_pendingReqForService_card_info small {
    font-size: 15px;
    margin-left: 20px;
}

.adminPage_pendingReqForService_card_detail_btn {
    margin: 20px 0;
    width: 10%;
}

.adminPage_pendingReqForService_card_detail_btn i {
    font-size: 40px;
    cursor: pointer;
    color: #7c7c7c;
}

.adminPage_pendingReqForService_card_detail_btn i:hover {
    color: #2a2a2a;
}

/* modal  */
.adminPage_pendingReqForService_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000ab;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminPage_pendingReqForService_modal_container {
    background: white;
    width: 500px;
    height: 600px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminPage_pendingReqForService_modal_closeBtn {
    position: absolute;
    right: 20px;
    color: red;
    cursor: pointer;
}

.adminPage_pendingReqForService_modal_header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    background-color: #2c3333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.adminPage_pendingReqForService_modal_userDp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px;
    border: 1.5px dashed white;
}

.adminPage_pendingReqForService_modal_header_content {
    flex: 1;
    margin-left: 30px;
}

.adminPage_pendingReqForService_modal_header_content h2 {
    color: white;
    display: inline-block;
}

.adminPage_pendingReqForService_modal_phoneEmail_container {
    display: flex;
    flex: 1;
}

.adminPage_pendingReqForService_modal_phoneEmail {
    background: red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminPage_pendingReqForService_modal_phoneEmail i {
    font-size: 20px;
}

.adminPage_pendingReqForService_modal_phoneEmail span {
    display: none;
    cursor: default;
}

.adminPage_pendingReqForService_modal_phoneEmail:hover span {
    display: block;
    animation: phone 0.4s ease-in-out;
    overflow: hidden;
}
.adminPage_pendingReqForService_modal_phoneEmail:hover {
    width: auto;
    border-radius: 20px;
    padding: 0 20px;
    transition: all 0.1s;
}
.adminPage_pendingReqForService_modal_phoneEmail:hover i {
    margin-right: 10px;
    font-size: 15px;
}

@keyframes phone {
    0% {
        width: 0%;
    }
    25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    75% {
        width: 75%;
    }

    100% {
        width: 100%;
    }
}

.adminPage_pendingReqForService_modal_phone {
    background: #357376;
    color: white;
    margin-right: 10px;
}

.adminPage_pendingReqForService_modal_email {
    background: #465881;
    color: white;
    margin-left: 10px;
}

.adminPage_pendingReqForService_modal_body {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* modal body  */
.adminPage_pendingReqForService_card_tag_container {
    margin: 20px 0;
}

/* adminPageAddEmployeeContainer */

.adminPageAddEmployeeContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 100px;
}

.adminPageAddEmployeeFormContainer {
    background: #424242;
    padding: 100px 100px;
    min-width: 400px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.adminPageAddEmployeeFormcheckBoxContainer input {
    border: none;
    padding: 10px 20px;
    margin-bottom: 30px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

label {
    cursor: pointer;
}

label input[type="checkbox"] {
    display: none;
}

label span {
    position: relative;
    display: inline-block;
    background: transparent;
    padding: 10px 15px;
    color: white;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 5px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
    font-size: 15px;
    border: 1px solid white;
}

label input[type="checkbox"]:checked + span {
    background: #fff;
    color: black;
}
