.home_service{
    width: 100%;
    height: 100%;
    background-color: #ededed;
    padding: 50px 0 80px 0;
}

.home_header{
    text-align: center;
}

.home_header h3{
    margin-bottom: 40px;
}

.home_cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    flex-wrap: wrap;
}

.home_card_body{
    border: 1px solid rgb(209, 209, 209);
    margin: 10px 30px;
    border-radius: 10px;
    background: white;
    text-align: center;
    box-shadow: 0px 0px 5px gray ;
    transition: 0.5s;
}
.home_card_body:hover{
    box-shadow: 0px 0px 10px rgb(98, 98, 98) ;
}
.home_card_body h4{
    font-size: 14px;
}

.home_card_body img{
    border-radius: 10px 10px 0 0;
    width: 180px;
    height: 150px;
}


.home_safe_service{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    display: flex;
}

.home_safe_text{
    flex: 1;
}

.home_safe_service img{
    width: 500px;
}

.home_safe_service h1{
    font-size: 100px;
}

.home_safe_service h2{
    font-size: 60px;
}

.home_safe_service button{
    background:rgb(42, 42, 42) ;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin-top: 40px;
}

.home_best_offers{
    background: #ededed;
}


.modal_container{
    width: 60%;
    height: 50%;
    background: white;
    margin-top: 10%;
}

.home_best_offers{
    padding: 80px 0;
}

.home_offer_header{
    text-align: center;
}

.home_info{
    padding: 50px 0;
}

.home_info_card{
    display: flex;
    background: linear-gradient(46deg, rgba(157,154,154,1) 14%, rgba(175,175,175,1) 34%, rgba(193,193,193,1) 54%, rgba(217,213,213,1) 72%);
    width:40%;
    align-items: center;
    margin-left: 100px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.home_info_card:hover{
    box-shadow: 0 0 20px rgb(52, 79, 155);
}

.home_info_text{
    flex: 1;
    margin-left: 50px;
}

.home_info_card img{
    width: 250px;
    height: 180px;
    border-radius: 10px;
}