.profilePage{
    display: flex;
    height: 100%;
    width: 100%;
}

.profile_left{
    background: #474747;
    flex: 0.2;
    min-height: 700px;
    color: white;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.profile_right{
    min-height: 700px;
    flex: 0.8;
    background: #ededed;
}

.profile_image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: auto;
    margin-top: 100px;
    /* background: white; */
    box-shadow: 0px 0px 10px rgb(255 255 255),
                0px 0px 20px rgb(190, 165, 54),
                0px 0px 30px rgb(58, 223, 43),
                0px 0px 40px rgb(255, 51, 0);
    position: relative;
    overflow: hidden;
}


.profile_change_dp{
    position: absolute;
    bottom: -5px;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.459);
    width: 150px;
    height: 0px;
    padding-top: 5px;
    color: rgb(243, 240, 240);
    transition:  all 0.5s ease-in-out;
    cursor: pointer;
}

.profile_image:hover .profile_change_dp{
    height: 50px;
}

.profile_image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile_info{
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_info h5{
    margin-bottom: 20px;
}

.profilePage .buttonContainer {
    overflow: hidden;
    background-color: rgb(71, 71, 71);
    border: 0;
    display: flex;
}

.tab1{
    width: 50%;
    background-color: rgb(98, 98, 98);
}

.tab2{
    width: 50%;
    background-color: rgb(98, 98, 98);
}
  
.profilePage .buttonContainer button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.profilePage .buttonContainer button:hover {
    background-color: #626262;
}

.buttonContainer button.active {
    background-color:#626262;
  }

.profilePage .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    height: 100%;
}
.profilePage .buttonContainer .tablinks{
    color: white;
    font-weight: 600;
}


.profile_pending_image_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_pending_image{
    margin: auto;
    width: 800px;
    height: 800px;
    opacity: 0.7;
}


.profile_history_image_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_history_image{
    margin: auto;
    width: 800px;
    height: 800px;
    opacity: 0.7;
}

.hidden{
    display: none;
}


.profile_card_container{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.profile_card{
    margin: 50px;
    width: 60%;
    height :300px;
    display: flex;
    background: white;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px black;
    position: relative;
}


.profile_card img{
    border-radius: 5px;
    width: 250px;
    height: 70%;
    flex: 0;
}

.profile_card_info{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 30px;
    justify-content: center;
    font-size: 20px;
}

.profile_card_header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile_card_price{
    margin-left: 50px;
    font-size: 30px;
    width: 140px;
    height: 80px;
    color: white;
    background-color: #474747;
    box-shadow: inset 0 0 10px black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.profile_card_info button{
    width: 150px;
    margin-top: 20px;
}


.profile_card p{
    margin: 0;
}

.profile_card_info span{
    font-weight: 600;
}

.profile_card_cancle_btn{
    padding: 10px 0;
    flex:0;
    margin-top: 40px !important;
}

.profile_card_moment{
    position: absolute;
    color: #2D4263;
    font-size: 18px;
    font-weight: 500;
    bottom: 5px;
    right: 20px;
}