.service_main_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service_main_container .service_container:nth-child(even){
    background: #ededed;
}

.service_main_container .service_container:nth-child(odd){
    background: white;
}

.service_container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px;
    overflow-x: auto;
}

.service_container::-webkit-scrollbar{
    width: 0;
}

.bg-1{
    background: #ededed;
}
.bg-2{
    background: white;
}

.service_container h1{
    margin-bottom: 50px;
}

.service_subService{
    display: flex;
    flex-wrap: wrap;
}

.service_card{
    width: 250px;
}

.service_form_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service_form_container form{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
    padding: 100px 0;
}

.service_form_container form input, .service_form_container form textarea{
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
}

.service_form_container form button{
    margin-top: 30px;
}